@using ShoppingLibrary.Models
@{
    ViewData["Title"] = "Index";
    var cartItems = (ICollection<ShoppingCartItem>)ViewData["ShoppingCart"];
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation Page</title>
</head>
<body>

    <h1>Checkout</h1>



</body>

