@using ShoppingLibrary.Models
@{
    ViewData["Title"] = "View Cart";
    var cartItems = (ICollection<ShoppingCartItem>)ViewData["ShoppingCart"];
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation Page</title>
</head>
    <h1>Checkout</h1>


    <h2>Items</h2>

    @foreach (var product in cartItems)
    {
        <!-- list group item-->
        <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2">@product.Product.Name</h5>
                    <p class="font-italic text-muted mb-0 small">@product.Product.Description</p>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                        <h6 class="font-weight-bold my-2">Quantity: @product.Quantity</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                        <h6 class="font-weight-bold my-2">Price: $@(product.Product.Price * product.Quantity) (ea. $@product.Product.Price)</h6>
                    </div>
                </div> <!-- End -->
               </div>
        </li> <!-- End -->
    }




    <h2>Shipping</h2>
    <div class="form-check mb-1">
        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="shipping" id="shippingRadio1" value="free" checked>
            <label class="form-check-label w-100" for="shippingRadio1">
                <div class="row">
                    <div class="col-8">Free Economy Shipping</div>
                    <div class="col-4 text-right">$0.00</div>
                </div>
            </label>
        </div>

        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="shipping" id="shippingRadio2" value="3day">
            <label class="form-check-label w-100" for="shippingRadio2">
                <div class="row">
                    <div class="col-8">3 Day Delivery</div>
                    <div class="col-4 text-right">$6.95</div>
                </div>
            </label>
        </div>

        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="shipping" id="shippingRadio3" value="2day">
            <label class="form-check-label w-100" for="shippingRadio3">
                <div class="row">
                    <div class="col-8">2 Day Delivery</div>
                    <div class="col-4 text-right">$9.95</div>
                </div>
            </label>
        </div>

        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="shipping" id="shippingRadio4" value="1day">
            <label class="form-check-label w-100" for="shippingRadio4">
                <div class="row">
                    <div class="col-8">1 Day Delivery</div>
                    <div class="col-4 text-right">$14.95</div>
                </div>
            </label>
        </div>

        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="shipping" id="shippingRadio5" value="0day">
            <label class="form-check-label w-100" for="shippingRadio5">
                <div class="row">
                    <div class="col-8">Same Day Delivery</div>
                    <div class="col-4 text-right">$29.95</div>
                </div>
            </label>
        </div>
    </div>


    @{ decimal total = 0;
        foreach (var product in cartItems)
        {
            total += product.Product.Price;
        }
        <h2>Grand total: @total</h2>
    }


    <form method="post" action="/Checkout/PlaceOrder">
        <button class="btn btn-primary btn-lg btn-block" type="submit"> Place order </button>
    </form>

