@using ShoppingLibrary.Models
@{
    ViewData["Title"] = "Customers - Admin Panel";
    var customerList = (ICollection<Customer>)ViewData["CustomerList"];
}

<h4>Customer List</h4>

@if (customerList != null && customerList.Count() > 0)
{
    <table width="575" border="1" cellpadding="4" cellspacing="4">
        <tr>
            <td width="125">Customer ID</td>
            <td width="225">Customer Name</td>
            <td width="225">Customer Email</td>
        </tr>

        @foreach (var customer in customerList)
        {
            <tr>
                <td>@customer.ID</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
            </tr>
        }
    </table>
}
else
{
    <p class="text-center">No customers found</p>
}