@{
    ViewData["Title"] = "Admin Panel";
}

<h5>Admin Navigation</h5>
<ul>
    <li><a asp-area="" asp-controller="AdminUsers" asp-action="Index">Manage Customers</a></li>
    <li><a asp-area="" asp-controller="AdminOrders" asp-action="Index">Manage Orders</a></li>
    <li><a asp-area="" asp-controller="AdminProducts" asp-action="Index">Manage Products</a></li>
</ul>

